<a href="https://colab.research.google.com/github/Bhargavguptha/data-mining_lab/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {'Category': ['A', 'B', 'A', 'C', 'B', 'C']}
df = pd.DataFrame(data)

label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])
print(df)

  Category  Label_Encoded
0        A              0
1        B              1
2        A              0
3        C              2
4        B              1
5        C              2

In [ ]:
from datetime import datetime

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'DOB': ['2000-05-15', '1995-08-22', '1988-11-03']}
df = pd.DataFrame(data)

df['DOB'] = pd.to_datetime(df['DOB'])

df['Age'] = df['DOB'].apply(lambda x: datetime.now().year - x.year)
print(df)

      Name        DOB  Age
0    Alice 2000-05-15   25
1      Bob 1995-08-22   30
2  Charlie 1988-11-03   37

In [ ]:
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'C'],
        'Value': [10, 15, 20, 25, 30, 35]}
df = pd.DataFrame(data)

grouped_df = df.groupby('Category').agg({'Value': 'sum'})
print(grouped_df)

          Value
Category
A            30
B            45
C            60

In [ ]:
pivot_df = df.pivot_table(index='Category', values='Value', aggfunc='sum')
print(pivot_df)

          Value
Category
A            30
B            45
C            60